.mainContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url('../../imgs/backGround.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.playerHand{
    margin-bottom: 10%;
}

.app{
    width: 100%;
    height: 100vh;
}

.changeCards{
    position: absolute;
    top: 1%;
    left: 0;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
}

.calculateWinner{
    position: absolute;
    top: 10%;
    left: 0;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
}

.winner{
    position: absolute;
    text-align: center;
    top: 35%;
    left: 38%;
    border-radius: 10px;
    opacity: 0.65;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.5;
    padding: 0.25rem;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.glow-on-hover {
    opacity: 0.95;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}